@import config

.simplebar-scrollbar:before
	background: #AAAAAA

.simplebar-scrollbar.simplebar-visible:before
	opacity: .8
.simplebar-track
	background: #DDDDDD
	border-radius: 24px
	width: 4px
	right: -20px

.noscroll
	overflow: hidden

.response
	position: relative
	z-index: 2

.success
	margin-top: 30px
	background-color: #3fb53f
	padding: 20px
	color: #fff
	animation: fade .25s ease
	p
		margin: 0

.errors-list
	list-style-type: none
	padding: 0
	margin-top: 30px
	background-color: #da4c4c
	padding: 20px
	color: #fff
	animation: fade .25s ease

img
	max-width: 100%
	height: auto
	user-select: none

.video
	position: relative
	text-decoration: none
	border-radius: 6px
	padding-bottom: 56.25%
	height: 0
	overflow: hidden
	iframe, video
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-width: 0
		outline-width: 0

.lg-backdrop.in
	opacity: 0.55

.lg-outer .lg-thumb-outer, .lg-outer .lg-toggle-thumb
	background-color: rgba(0,0,0, .45)

.breadcrumb-block
	padding: 20px 0
	+media-breakpoint-up(sm)
		padding: 40px 0

.breadcrumb
	margin: 0
	list-style-type: none
	display: flex
	flex-wrap: wrap
	font-size: 14px
	line-height: 19px
	position: relative
	z-index: 1
	padding: 0
	position: relative
	+media-breakpoint-up(sm)
		font-size: 16px
	&__link
		color: #A4A4A4
		&:after
			content: '-'
			margin: 0 5px
		&:hover
			text-decoration: none
			color: #fff
			&:after
				color: #A4A4A4
	&__item_active
		color: $fiolet

.pagination
	list-style-type: none
	padding: 0
	display: flex
	margin: 0
	margin-top: 30px
	&__item
		margin-right: 8px
		flex: 0 0 33px
		width: 33px
		height: 33px
		+media-breakpoint-up(sm)
			flex: 0 0 40px
			width: 40px
			height: 40px
	&__item_active .pagination__link
		border-color: $fiolet
		background-color: $fiolet
		color: #fff
	&__link
		background-color: transparent
		font-size: 16px
		line-height: 25px
		height: 100%
		width: 100%
		color: #000
		display: flex
		align-items: center
		justify-content: center
		text-decoration: none
		border-radius: 50%
		transition: border-color .25s ease, color .25s ease, background-color .25s ease
		border-color: #000
		border: 1px solid $fiolet
		color: #000
		&:hover
			text-decoration: none
			border-color: $fiolet
			color: #fff
			background-color: $fiolet

.content
	margin-bottom: 30px
	&_m0
		margin: 0
	iframe
		width: 100%
		margin: 0 auto !important
	p
		font-size: 16px
		font-weight: 400
		line-height: 24px
		color: $text
		margin: 0
		&:not(:last-child)
			margin-bottom: 10px
		+media-breakpoint-up(sm)
			&:not(:last-child)
				margin-bottom: 24px
	b, strong
		font-weight: 700
		font-size: 17px
		line-height: 24px
		margin-bottom: 15px
	a
		color: $fiolet
		text-decoration: underline
		&:hover
			text-decoration: none
	img
		margin-bottom: 30px
		border-radius: 15px
	h2
		font-size: 20px
		line-height: 26px
		color: $text
		font-weight: 600
		margin-bottom: 20px
		+media-breakpoint-up(sm)
			font-size: 24px
			line-height: 30px
	h3
		font-size: 19px
		line-height: 25px
		color: $text
		font-weight: 600
		margin-top: 40px
		margin-bottom: 20px
	ol
		padding: 0
		padding-left: 17px
		margin-left: 10px
		li
			margin-bottom: 10px
			padding-left: 8px
		li::marker
			color: $fiolet
			font-weight: 700
	ul
		list-style-type: none
		margin-left: 10px
		padding: 0
		margin-bottom: 15px
		+media-breakpoint-up(sm)
			margin-bottom: 25px
		li
			font-size: 16px
			line-height: 24px
			font-weight: 300
			margin-bottom: 10px
			// display: flex
			position: relative
			padding-left: 25px
			&:before
				content: ''
				position: absolute
				left: 0
				height: 8px
				width: 8px
				flex: 0 0 8px
				border-radius: 50%
				background-color: $fiolet
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25)
				display: inline-block
				margin-right: 15px
				margin-top: 7px

.section
	padding: 60px 0
	position: relative
	clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 20px), 50% 100%, 0 calc(100% - 20px))
	margin-top: -30px
	background-color: #fff
	+media-breakpoint-up(sm)
		clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 30px), 50% 100%, 0 calc(100% - 30px))
	+media-breakpoint-up(xl)
		padding: 190px 0
		margin-top: -90px
	+media-breakpoint-up(wxp)
		clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px))
	+media-breakpoint-up(wxpp)
		clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 90px), 50% 100%, 0 calc(100% - 90px))
	&_fiolet
		background-color: $fiolet
	&_first
		padding-top: 0
		margin-top: 0
		padding-bottom: 0
		// background: url('../images/bg.svg') center -1px no-repeat
		// background-size: auto
		background: url(../images/dest/stars_first.png) center no-repeat, url('../images/bg.svg') center -1px no-repeat
		background-size: cover, auto
		&:after
			content: ''
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: calc(50% - (1920px / 2))
			background: url(../images/dest/stars_gray.png) left center no-repeat #FBC009
			background-size: cover
			z-index: -1
		&:before
			content: ''
			position: absolute
			right: 0
			top: 0
			height: 100%
			width: calc(50% - (1920px / 2))
			background: url(../images/dest/stars.png) left center no-repeat #57368a
			background-size: cover
			z-index: -1
	&_pick
		background: url(../images/dest/stars_pick.png) center no-repeat, url('../images/pick_bg.svg') center -1px no-repeat
		// background: url('../images/pick_bg.svg') center -1px no-repeat
		background-size: cover
		padding: 60px 0
		+media-breakpoint-up(xl)
			padding: 190px 0 100px 0
		&:after
			content: ''
			position: absolute
			right: 0
			top: 0
			height: 100%
			width: calc(50% - (1920px / 2))
			background: url(../images/dest/stars_gray.png) left center no-repeat #FBC009
			background-size: cover
			z-index: -1
		&:before
			content: ''
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: calc(50% - (1920px / 2))
			background: url(../images/dest/stars.png) left center no-repeat #57368a
			background-size: cover
			z-index: -1
	// &_team, &_qa, &_footer
	&_heroes, &_team, &_qa, &_footer
		background-image: url('../images/dest/stars.png')
		background-repeat: no-repeat
		background-size: cover
		background-position: center
	&_how
		background: url(../images/dest/stars.png) center no-repeat,url(../images/dest/Star.png) bottom center no-repeat #57358a
		background-size: cover, contain
		+media-breakpoint-up(sm)
			background: url('../images/dest/stars.png') center no-repeat, url('../images/dest/Star.png') top center no-repeat $fiolet
			background-size: cover, auto
	&_murchatos
		background: url(../images/dest/stars.png) center no-repeat,url(../images/dest/Star.png) bottom center no-repeat #57358a
		background-size: cover, contain
		+media-breakpoint-up(sm)
			background: url('../images/dest/stars.png') center no-repeat, url('../images/dest/Star.png') top center no-repeat $fiolet
			background-size: cover, auto
		+media-breakpoint-up(xl)
			padding-bottom: 0
	&_footer
		padding-bottom: 0
		clip-path: initial

.container
	padding: 0 10px
	margin: 0 auto
	width: 100%
	+media-breakpoint-up(sm)
		padding: 0 15px
	+media-breakpoint-up(xl)
		max-width: 1350px
	&_text
		+media-breakpoint-up(xl)
			max-width: 811px

.row
	display: flex
	flex-wrap: wrap
	margin: 0 -15px

.header
	position: absolute
	z-index: 100
	width: 100%
	top: 0
	left: 0
	padding: 16px 0
	/* .header__block */
	&__block
		display: flex
		justify-content: center

.logo

.first
	background-color: #fff
	height: 600px
	display: flex
	overflow: hidden
	+media-breakpoint-up(sm)
		height: 789px
		align-items: center
	/* .first__block */
	&__block
		max-width: 732px
		text-align: center
		position: relative
		margin-top: 160px
		+media-breakpoint-up(sm)
			margin: 0 auto
	/* .first__title */
	&__title
		font-family: Seymour One
		font-size: 26px
		color: $fiolet
		margin-bottom: 5px
		span
			color: $yellow
			margin-left: 10px
		+media-breakpoint-up(sm)
			font-size: 48px
			margin-bottom: 24px
			span
				margin-left: 0
		+media-breakpoint-up(md)
			font-size: 60px
		+media-breakpoint-up(xl)
			font-size: 80px
	/* .first__question */
	&__question
		text-align: center
		font-size: 18px
		font-weight: 600
		line-height: 24px
		color: #fff
		margin-bottom: 18px
		+media-breakpoint-up(sm)
			font-size: 30px
			line-height: 48px
			margin-bottom: 24px
		+media-breakpoint-up(md)
			font-size: 34px
			line-height: 54px
		+media-breakpoint-up(xl)
			font-size: 41px
			line-height: 56px
			margin-bottom: 45px
	/* .first__text */
	&__text
		color: #fff
		max-width: 518px
		margin: 0 auto
		margin-bottom: 25px
		font-weight: 700
		+media-breakpoint-up(sm)
			margin-bottom: 55px
			font-size: 18px
			line-height: 28px
		+media-breakpoint-up(xl)
			font-size: 22px
			line-height: 33px
			max-width: 648px
	/* .first__row */
	&__row
		display: flex
		justify-content: center
		position: relative
		top: 140px
		gap: 30px
		+media-breakpoint-up(sm)
			justify-content: space-between
		+media-breakpoint-up(lg)
			position: initial
	/* .first__images */
	&__images
		position: absolute
		max-width: 170px
		bottom: 50px
		+media-breakpoint-up(sm)
			max-width: 320px
			bottom: 30px
		+media-breakpoint-up(lg)
			max-width: 450px
			bottom: -40px
		+media-breakpoint-up(wxp)
			max-width: initial
	/* .first__dog */
	&__dog
		left: calc(50% - 170px)
		+media-breakpoint-up(sm)
			left: calc(50% - 320px)
		+media-breakpoint-up(lg)
			left: -80px
		+media-breakpoint-up(wxp)
		+media-breakpoint-up(wxpp)
			left: calc(50% - 968px)
	/* .first__cat */
	&__cat
		right: calc(50% - 170px)
		+media-breakpoint-up(sm)
			right: calc(50% - 320px)
		+media-breakpoint-up(lg)
			right: -80px
		+media-breakpoint-up(wxp)
		+media-breakpoint-up(wxpp)
			right: calc(50% - 968px)

.btn
	color: #fff
	font-family: Seymour One, snas-serif
	padding: 6px 10px
	border-radius: 40px
	display: inline-flex
	align-items: center
	justify-content: center
	transition: background-color .35s ease-out, color .35s ease-out, box-shadow .35s ease-out
	min-width: 120px
	cursor: pointer
	&:hover
		color: #fff
		text-decoration: none
	+media-breakpoint-up(sm)
		padding: 10px 30px
	+media-breakpoint-up(md)
		padding: 16px 40px
		min-width: 235px
	&_fiolet
		background-color: $fiolet
		box-shadow: 0px 3px 0px 0px #401D74
		border: 1px solid $fiolet
		&:hover
			background-color: lighten($fiolet, 5%)
		+media-breakpoint-up(sm)
			margin-right: 0
		&.btn_transparent
			color: $fiolet
			&.active, &:hover
				color: #fff
				box-shadow: 0px 3px 0px 0px #401D74
		&.active
			background-color: $fiolet
			box-shadow: 0px 3px 0px 0px #401D74
	&_yellow
		background-color: $yellow
		box-shadow: 0px 3px 0px 0px #C19200
		border: 1px solid $yellow
		&:hover
			background-color: lighten($yellow, 5%)
		&.btn_transparent
			color: $yellow
			&.active, &:hover
				color: #fff
				box-shadow: 0px 3px 0px 0px #C19200
		&.active
			background-color: $yellow
			box-shadow: 0px 3px 0px 0px #C19200
	&_coin-left
		&:before
			content: url('../images/coin.png')
			line-height: 0
			margin-right: 12px
	&_coin-right
		&:after
			content: url('../images/coin.png')
			line-height: 0
			margin-left: 12px
	&_first
		&:before, &:after
			display: none
		+media-breakpoint-up(sm)
			&:before, &:after
				display: block
	&_transparent
		background-color: transparent
		box-shadow: none
	&_form
		padding: 14px 40px
	&_w100
		width: 100%
	/* .btn__span */
	&__span
		font-size: 12px
		+media-breakpoint-up(sm)
			font-size: 14px
		+media-breakpoint-up(md)
			font-size: 16px

.title
	font-size: 22px
	color: #fff
	font-family: Seymour One
	margin-bottom: 16px
	text-align: center
	+media-breakpoint-up(sm)
		font-size: 24px
	+media-breakpoint-up(md)
		font-size: 28px
		margin-bottom: 24px
	+media-breakpoint-up(lg)
		font-size: 32px
	+media-breakpoint-up(xl)
		font-size: 40px
	&_fiolet
		color: $fiolet
	&_width
		max-width: 633px
		margin-left: auto
		margin-right: auto
		line-height: 1.4

.subtitle
	margin-bottom: 48px
	text-align: center
	margin-left: auto
	margin-right: auto
	position: relative
	&_w462
		max-width: 462px
	&_white
		color: #fff

.tab-content
	// display: none
	opacity: 0
	position: absolute
	z-index: -1
	&.active
		// display: block
		opacity: 1
		position: relative
		z-index: 1

.heroes
	/* .heroes__btn-row */
	&__btn-row
		display: flex
		justify-content: center
		margin-bottom: 24px
		position: relative
		z-index: 2
		+media-breakpoint-up(lg)
			margin: 0 -12px
			margin-bottom: 24px
	/* .heroes__btn-row-left */
	&__btn-row-left
		+media-breakpoint-up(lg)
			flex: 0 0 460px
			padding: 0 12px
		+media-breakpoint-up(xl)
			flex: 0 0 480px
	/* .heroes__btn-row-right */
	&__btn-row-right
		display: flex
		gap: 12px
		+media-breakpoint-up(lg)
			padding: 0 12px
			flex: 1
			min-width: 1px
	/* .heroes__row */
	&__row
		+media-breakpoint-up(lg)
			display: flex
			align-items: center
			margin: 0 -12px
	/* .heroes__left */
	&__left
		max-width: 460px
		+media-breakpoint-up(lg)
			flex: 0 0 460px
			padding: 0 12px
		+media-breakpoint-up(xl)
			flex: 0 0 480px
			max-width: initial
	/* .heroes__img */
	&__img
		+media-breakpoint-up(lg)
			position: absolute
			bottom: -70px
			left: -90px

	/* .heroes__dog */
	&__dog
		border-radius: 5px
		// position: absolute
		max-width: 100px
		margin-bottom: 24px
		margin-right: 12px
		+media-breakpoint-up(sm)
			max-width: 140px
		+media-breakpoint-up(xl)
			max-width: 170px
	&__dog_1
		right: 0
		bottom: 60px
	&__dog_2
		right: 57px
		bottom: 170px
		+media-breakpoint-up(sm)
			bottom: 200px
		+media-breakpoint-up(xl)
			bottom: 280px
	/* .heroes__images */
	&__images
		// position: relative
	/* .heroes__right */
	&__right
		+media-breakpoint-up(lg)
			padding: 0 12px
			flex: 1
			min-width: 1px

.lg-item
	cursor: pointer

.scroll-block
	padding: 20px 30px 20px 20px
	background-color: #fff
	border-radius: 16px
	// border: 1px dashed $fiolet
	h3
		color: #fff
		margin-bottom: 12px
	p
		margin-bottom: 24px
		color: #fff
	+media-breakpoint-up(sm)
		padding: 52px
		border-radius: 24px
	&_fiolet
		background-color: $fiolet
		color: #fff
		h3
			color: #fff
	&_yellow
		background-color: $yellow
	.simple-bar
		max-height: 422px
	&_murchatos
		position: relative
		h3, p
			color: #000
		&:after, &:before
			content: ''
			border: dashed transparent
			position: absolute
			left: calc(50% - 8px)
			bottom: 100%
		&:after
			border-bottom-color: #fff
			border-width: 8px
			margin-top: 0
		&:before
			border-bottom-color: $fiolet
			border-bottom-style: dashed
			border-width: 9px
			margin-left: -1px
		.simple-bar
			max-height: 304px
		+media-breakpoint-up(md)
			&:after, &:before
				left: auto
				bottom: auto
				right: 100%
				top: 108px
			&:after
				border-bottom-color: transparent
				border-right-color: #fff
			&:before
				border-bottom-color: transparent
				border-right-color: $fiolet
				margin-top: -1px
				margin-left: auto
		+media-breakpoint-up(xl)
			&:after, &:before
				top: 38px

.how
	overflow: hidden
	/* .how__block */
	&__block
	/* .how__row */
	&__row
		+media-breakpoint-up(sm)
			margin: 0 -8px
			display: flex
			flex-wrap: wrap
			justify-content: center
		+media-breakpoint-up(md)
			flex-wrap: nowrap
	/* .how__col */
	&__col
		margin-bottom: 16px
		+media-breakpoint-up(sm)
			margin-bottom: 0
			flex: 0 0 50%
			padding: 0 8px
		+media-breakpoint-up(md)
			flex: 0 0 20%
	/* .how__images */
	&__images
		position: absolute
		z-index: -1
		bottom: -10px
		max-width: 145px
		+media-breakpoint-up(sm)
			max-width: 205px
			bottom: -40px
		+media-breakpoint-up(lg)
			max-width: 255px
		+media-breakpoint-up(xl)
			max-width: 395px
	/* .how__dog */
	&__dog
		left: calc(42% - 145px)
		+media-breakpoint-up(sm)
			left: calc(42% - 255px)
		+media-breakpoint-up(xl)
			left: calc(42% - 395px)
	/* .how__cat */
	&__cat
		right: calc(42% - 145px)
		+media-breakpoint-up(sm)
			right: calc(42% - 255px)
		+media-breakpoint-up(xl)
			right: calc(42% - 395px)
	/* .how__btn-row */
	&__btn-row
		text-align: center
		position: relative
		margin-top: 60px
		+media-breakpoint-up(sm)
			margin-top: 0
		+media-breakpoint-up(xl)
			top: 100px
	/* .how__btn-arrow */
	&__btn-arrow
		position: absolute
	&__btn-arrow_1
		position: absolute
		top: -110px
		left: calc(50% - 140px)
	&__btn-arrow_2
		position: absolute
		top: -80px
		right: calc(50% - 100px)

.how-star
	max-width: 265px
	margin: 0 auto
	&_3
	&_2, &_4
		+media-breakpoint-up(md)
			margin-top: 20px
		+media-breakpoint-up(lg)
			margin-top: 40px
	&_1, &_5
		+media-breakpoint-up(md)
			margin-top: 40px
		+media-breakpoint-up(lg)
			margin-top: 150px
		+media-breakpoint-up(wxp)
			margin-top: 200px
	/* .how-star__step */
	&__step
		background-image: url('../images/dest/step.svg')
		background-repeat: no-repeat
		height: 114px
		width: 100px
		display: flex
		align-items: center
		justify-content: center
		color: #fff
		font-family: Seymour One
		font-size: 20px
		line-height: 24px
		text-align: center
		margin: 0 auto
		margin-bottom: 16px
		background-size: 100px
		+media-breakpoint-up(sm)
			background-size: auto
			height: 134px
			width: 118px
			font-size: 24px
			line-height: 28px
		+media-breakpoint-up(xl)
			margin-bottom: 32px
	/* .how-star__text */
	&__text
		font-size: 14px
		line-height: 26px
		color: #fff
		font-weight: 700
		text-align: center
		+media-breakpoint-up(sm)
			font-size: 16px
		+media-breakpoint-up(xl)
			font-size: 18px
			line-height: 28px

.team
	+media-breakpoint-up(sm)
		position: relative
		padding: 32px 0
		&:after
			content: ''
			height: 100%
			width: 1px
			border-right: 1px dashed $fiolet
			display: block
			position: absolute
			top: 0
			left: 50%
	/* .team__row */
	&__row
		+media-breakpoint-up(sm)
			display: flex
			margin: 0 -15px
			justify-content: space-between
	/* .team__col */
	&__col
		+media-breakpoint-up(sm)
			padding: 0 15px
			flex: 0 0 50%
		+media-breakpoint-up(xl)
			flex: 0 0 47%
	/* .team__item */
	&__item
		margin-bottom: 24px
		+media-breakpoint-up(sm)
			margin-bottom: 0
			&:not(:last-child)
				margin-bottom: 24px
	/* .team__item-row */
	&__item-row
		+media-breakpoint-up(md)
			display: flex
			align-items: center
			margin: 0 -5px
		+media-breakpoint-up(lg)
			margin: 0 -10px
	/* .team__item-left */
	&__item-left
		text-align: center
		margin-bottom: 10px
		+media-breakpoint-up(sm)
			text-align: left
		+media-breakpoint-up(md)
			margin-bottom: 0
			padding: 0 5px
			flex: 0 0 130px
		+media-breakpoint-up(lg)
			flex: 0 0 140px
			padding: 0 10px

	/* .team__item-image */
	&__item-image

	/* .team__item-right */
	&__item-right
		text-align: center
		+media-breakpoint-up(sm)
			text-align: left
		+media-breakpoint-up(md)
			padding: 0 5px
		+media-breakpoint-up(lg)
			padding: 0 10px
	/* .team__item-title */
	&__item-title
		font-weight: 700
	/* .team__item-text */
	&__item-text
		+media-breakpoint-up(sm)
			max-width: 463px

.pick
	position: relative
	/* .pick__block */
	&__block
	/* .pick__row */
	&__row
		display: flex
		justify-content: space-between
	/* .pick__col */
	&__col
		flex: 0 1 454px
	/* .pick__modal-close */
	&__modal-close
		position: absolute
		cursor: pointer
		top: 27px
		right: 14px
		padding: 15px 0
		z-index: 2
		&:before, &:after
			content: ''
			width: 35px
			height: 1px
			display: block
			background-color: #414141
		&:after
			transform: rotate(45deg)
		&:before
			transform: rotate(-45deg)
		+media-breakpoint-up(sm)
			top: 15px
			right: 10px
	/* .pick__modal */
	&__modal
		background-color: #fff
		max-width: 768px
		width: 100%
		border-radius: 16px
		padding: 24px
		position: absolute
		bottom: 50px
		left: 0
		border: 1px dashed $fiolet
		display: none
		+media-breakpoint-up(sm)
			bottom: 100px
			border-radius: 24px
		+media-breakpoint-up(md)
			left: calc(50% - 386px)
		+media-breakpoint-up(lg)
			padding: 48px
	/* .pick__modal-title */
	&__modal-title
		font-family: Seymour One
		text-align: left
		margin-bottom: 24px
		font-size: 16px
		max-width: 210px
		+media-breakpoint-up(sm)
			text-align: center
			max-width: initial
	/* .pick__form */
	&__form

	/* .pick__form-radio-row */
	&__form-radio-row
		gap: 10px
		display: flex
		margin-bottom: 16px
		flex-wrap: wrap
		+media-breakpoint-up(md)
			gap: 29px
	/* .pick__form-label */
	&__form-label
		cursor: pointer
		user-select: none
	/* .pick__form-label-radio */
	&__form-label-radio
		opacity: 0
		z-index: -1
		position: absolute
		&:checked+.pick__form-label-span
			color: #fff
			background-color: $fiolet
	/* .pick__form-label-span */
	&__form-label-span
		color: $fiolet
		font-size: 12px
		font-weight: 600
		line-height: 22px
		padding: 16px
		border: 1px solid $fiolet
		border-radius: 16px
		display: block
		+media-breakpoint-up(sm)
			padding: 24px
	/* .pick__form-input */
	&__form-input
		width: 100%
		border: none
		background-color: #F6F6F6
		border-radius: 16px
		border: 1px solid #aaa
		margin-bottom: 16px
		padding: 14px 24px
		outline: 0
	&__form-input_sum
		max-width: 289px
		margin-bottom: 0
		// display: none
	/* .pick__form-input-row */
	&__form-input-row
		display: flex
		gap: 30px
		flex-flow: wrap
		justify-content: space-between
		&.active

			.pick__form-input_sum
				display: block

.pick-item
	position: relative
	display: flex
	flex-direction: column
	&_dog
		.pick-item__volume-block
			flex-direction: column
			+media-breakpoint-up(sm)
				flex-direction: row
				justify-content: flex-end
		.pick-item__volume-target
			align-self: end
			text-align: right
		.pick-item__volume
			align-self: end
		.pick-item__img
			left: calc(50% - 70px)
			right: auto
			+media-breakpoint-up(sm)
				left: 0
		.pick-item__btn
			align-self: end
		.pick-item__volume-load
			background: url('../images/dest/volume_bg.png') $fiolet
		.pick-item__volume-right
			text-align: right
		.pick-item__volume-total
			align-self: end
	/* .pick-item__volume-block */
	&__volume-block
		display: flex
		gap: 30px
		margin-bottom: 30px
		flex-direction: column-reverse
		+media-breakpoint-up(sm)
			flex-direction: row
	/* .pick-item__volume-right */
	&__volume-right
		display: flex
		flex-direction: column
	/* .pick-item__volume */
	&__volume
		height: 300px
		width: 40px
		background-color: #ddd
		border-radius: 24px
		border: 1px dashed $fiolet
		position: relative
		overflow: hidden
		+media-breakpoint-up(sm)
			height: 400px
			width: 50px
	/* .pick-item__volume-load */
	&__volume-load
		position: absolute
		height: 0
		width: 100%
		background: url('../images/dest/volume_bg.png') $yellow
		bottom: 0
		left: 0
		border-top-left-radius: 24px
		border-top-right-radius: 24px
		outline: 1px dashed $fiolet
	/* .pick-item__volume-target */
	&__volume-target
		font-family: Seymour One
		color: #fff
		max-width: 126px
		margin-bottom: 16px
		+media-breakpoint-up(sm)
			margin-bottom: 24px
	/* .pick-item__volume-total */
	&__volume-total
		background-color: #fff
		color: #000
		padding: 13px 15px
		border-radius: 30px
		align-self: start
	/* .pick-item__btn */
	&__btn
		align-self: start
	/* .pick-item__img */
	&__img
		position: absolute
		bottom: 0
		right: calc(50% - 70px)
		z-index: -1
		max-width: 140px
		+media-breakpoint-up(sm)
			max-width: 300px
			right: 0
			bottom: -100px
		+media-breakpoint-up(md)
			max-width: 400px

		+media-breakpoint-up(lg)
			bottom: -140px
			max-width: 450px

.qa-item
	background-color: #fff
	border: 1px dashed $fiolet
	padding: 16px
	border-radius: 16px
	&:not(:last-child)
		margin-bottom: 8px
	&.open
		.qa-item__icon::before
			opacity: 0
			transform: rotate(0deg)
		+media-breakpoint-up(sm)
			.qa-item__title
				font-weight: 700
	+media-breakpoint-up(sm)
		padding: 16px 24px
		border-radius: 24px
	/* .qa-item__title-block */
	&__title-block
		display: flex
		align-items: center
		cursor: pointer
		position: relative
	/* .qa-item__num */
	&__num
		background-image: url('../images/dest/step.svg')
		background-repeat: no-repeat
		height: 55px
		width: 55px
		flex: 0 0 55px
		display: flex
		align-items: center
		justify-content: center
		color: #fff
		font-family: Seymour One
		font-size: 20px
		line-height: 24px
		text-align: center
		background-size: 45px
		margin-right: 8px
		background-position: center
		+media-breakpoint-up(sm)
			background-size: 56px
			background-position: center
			height: 64px
			width: 64px
			flex: 0 0 64px
			font-size: 28px
			line-height: 28px
			margin-right: 24px
	/* .qa-item__title */
	&__title
		padding-right: 30px
		+media-breakpoint-up(sm)
			padding-right: 40px
	/* .qa-item__icon */
	&__icon
		position: absolute
		right: 20px
		&::after, &::before
			content: ''
			position: absolute
			height: 2px
			width: 14px
			background-color: $fiolet
			border-radius: 10px
		&::before
			transform: rotate(90deg)
			transition: opacity .25s ease-out, transform .25s ease-out
		+media-breakpoint-up(sm)
			right: 30px
			&::after, &::before
				width: 18px
				height: 3px
	/* .qa-item__text-block */
	&__text-block
		max-height: 0
		overflow: hidden
		transition: max-height .35s ease-out, padding .35s ease-out

.murchatos
	position: relative
	/* .murchatos__img */
	&__img
		position: absolute
		z-index: -1
		left: calc(50% - 110px)
		top: 170px
		max-width: 220px
		+media-breakpoint-up(sm)
			left: calc(50% - 150px)
			top: 140px
			max-width: 300px
		+media-breakpoint-up(md)
			left: 0
			top: 330px
		+media-breakpoint-up(lg)
			max-width: 360px
			top: 270px
		+media-breakpoint-up(xl)
			max-width: initial
			left: 3%
			bottom: 200px
			top: auto
		+media-breakpoint-up(wxp)
			left: calc(50% - 635px)
	/* .murchatos__block */
	&__block
		margin-top: 170px
		+media-breakpoint-up(md)
			margin-top: 0
	/* .murchatos__row */
	&__row
		display: flex
		flex-direction: column
		gap: 30px
		+media-breakpoint-up(xl)
			align-items: flex-end
			position: relative
			bottom: 100px
			flex-direction: row
	/* .murchatos__left */
	&__left
		order: 1
		align-self: center
		+media-breakpoint-up(md)
			align-self: flex-start
		+media-breakpoint-up(xl)
			order: 0
			align-self: flex-end
			flex: 0 0 25%
			margin-bottom: 60px
	/* .murchatos__center */
	&__center
		min-width: 1px
		flex: 1
		order: 0
		width: 100%
		align-self: flex-end
		+media-breakpoint-up(md)
			width: 70%
		+media-breakpoint-up(xl)
			width: auto
			order: 1
	/* .murchatos__right */
	&__right
		order: 3
		+media-breakpoint-up(md)
			display: flex
			gap: 30px
			justify-content: space-between
		+media-breakpoint-up(xl)
			display: block
			gap: initial
			flex: 0 0 328px
			margin-bottom: 60px
	/* .murchatos__star-item */
	&__star-item
		display: flex
		align-items: center
		justify-content: center
		&:not(:last-child)
			margin-bottom: 16px
	/* .murchatos__star-item-bg */
	&__star-item-bg
		background-image: url('../images/dest/step.svg')
		background-repeat: no-repeat
		height: 114px
		width: 100px
		flex: 0 0 100px
		display: flex
		align-items: center
		justify-content: center
		color: #fff
		font-family: Seymour One
		font-size: 20px
		line-height: 24px
		text-align: center
		background-size: 100px
		margin-right: 16px
		+media-breakpoint-up(sm)
			background-size: auto
			height: 134px
			width: 118px
			flex: 0 0 118px
			font-size: 24px
			line-height: 28px
		+media-breakpoint-up(xl)
	/* .murchatos__star-item-text */
	&__star-item-text
		color: #fff
		max-width: 162px
		flex: 0 0 162px
		+media-breakpoint-up(md)
			flex: auto

.modal
	display: none
	position: fixed
	width: 100%
	height: 100%
	background-color: rgba(19,19,19, .34)
	top: 0
	left: 0
	z-index: 23
	animation: fade .25s ease
	align-items: center
	justify-content: center
	&__content
		padding: 10px
		+media-breakpoint-up(sm)
			padding: 50px
	&__close
		position: absolute
		cursor: pointer
		top: 27px
		right: 14px
		padding: 15px 0
		z-index: 2
		&:before, &:after
			content: ''
			width: 35px
			height: 1px
			display: block
			background-color: #fff
		&:after
			transform: rotate(45deg)
		&:before
			transform: rotate(-45deg)
		+media-breakpoint-up(sm)
			top: 15px
			right: 10px

.modal-content
	width: 90%
	z-index: 999
	position: relative
	background: #fff
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15)
	padding: 60px 24px 24px 24px
	overflow: auto
	border-radius: 16px
	+media-breakpoint-up(sm)
		border-radius: 24px
		max-width: 768px
		width: 100%
		padding: 40px 50px 25px 50px
	+media-breakpoint-up(lg)
		padding: 48px
	&__close
		position: absolute
		cursor: pointer
		top: 15px
		right: 14px
		padding: 15px 0
		z-index: 2
		&:before, &:after
			content: ''
			width: 35px
			height: 1px
			display: block
			background-color: #414141
		&:after
			transform: rotate(45deg)
		&:before
			transform: rotate(-45deg)
		+media-breakpoint-up(sm)
			top: 15px
			right: 10px

.partners
	/* .partners__row */
	&__row
		display: flex
		justify-content: center
		flex-wrap: wrap
		align-items: center
		gap: 10px
		flex-direction: column
		+media-breakpoint-up(sm)
			flex-direction: row
			gap: 30px
	/* .partners__col */
	&__col
	/* .partners__item */
	&__item

.footer
	/* .footer__top */
	&__top
		padding-bottom: 32px
		border-bottom: 1px solid #4D2D7D
		+media-breakpoint-up(sm)
			padding-bottom: 48px
	/* .footer__row */
	&__row
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		gap: 16px
		+media-breakpoint-up(sm)
			gap: 24px
	/* .footer__col */
	&__col

	/* .footer__logo */
	&__logo
		margin-bottom: 16px
		+media-breakpoint-up(sm)
			margin-bottom: 24px
	/* .footer__text */
	&__text
		max-width: 312px
		color: #fff
	/* .footer__menu */
	&__menu

	/* .footer__menu-list */
	&__menu-list
		list-style-type: none
		padding: 0
		margin: 0
	/* .footer__menu-item */
	&__menu-item
		&:not(:last-child)
			margin-bottom: 10px
		+media-breakpoint-up(sm)
			&:not(:last-child)
				margin-bottom: 20px
	/* .footer__menu-link */
	&__menu-link
		color: #fff
		&:hover
			color: #fff
	/* .footer__item */
	&__item
		margin-bottom: 16px
		color: #fff
		a
			color: #fff
			&:hover
				color: #fff
		+media-breakpoint-up(sm)
			margin-bottom: 24px
	/* .footer__bottom */
	&__bottom
		padding: 24px 0
		+media-breakpoint-up(sm)
			padding: 32px 0
	/* .footer__bottom-item */
	&__bottom-item
		color: #fff
		&:hover
			color: #fff

.stars
	overflow: hidden
	&_white
		.stars__item
			background: radial-gradient(ellipse at center, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 100%)
	&_yellow
		.stars__item
			background: radial-gradient(ellipse at center, rgba(253, 220, 111, 0.5) 2%, rgba(253, 220, 111,.5) 100%)
			// 253, 230, 157
	&__item
		position: absolute
		z-index: -2
		border-radius: 100%
		z-index: -1
		// filter: blur(1px)
		animation: stars infinite alternate

.smoke
	overflow: hidden
	&__item
		position: absolute
		z-index: -2
		width: 250px
		height: 250px
		background: url('../images/smoke.png') no-repeat
		background-size: contain
		// bottom: 150px
		margin-left: 0px
		animation: smoke infinite

@keyframes smoke
	0%
		opacity: 0
		transform: translateY(0)
	50%
		opacity: .4
		// transform: translateY(-40%)
	100%
		transform: translateY(-80%)
		opacity: 0

@keyframes stars
	0%
		transform: scale(1)
		opacity: 1
	20%
		transform: scale(.9)
		opacity: .8
	40%
		transform: scale(1)
		opacity: .9
	40%
		transform: scale(.2)
		opacity: .2
	60%
		transform: scale(.2)
		opacity: .1
	80%
		transform: scale(.5)
		opacity: .5
	100%
		transform: scale(.9)
		opacity: .9

@keyframes "fade"
	from
		opacity: 0
	to
		opacity: 1
