@import config

.simplebar-scrollbar:before
	background: #AAAAAA

.simplebar-scrollbar.simplebar-visible:before
	opacity: .8
.simplebar-track
	background: #DDDDDD
	border-radius: 24px
	width: 4px
	right: -20px

.noscroll
	overflow: hidden

.response
	position: relative
	z-index: 2

.success
	margin-top: 30px
	background-color: #3fb53f
	padding: 20px
	color: #fff
	animation: fade .25s ease
	p
		margin: 0

.errors-list
	list-style-type: none
	padding: 0
	margin-top: 30px
	background-color: #da4c4c
	padding: 20px
	color: #fff
	animation: fade .25s ease

img
	max-width: 100%
	height: auto
	user-select: none

.video
	position: relative
	text-decoration: none
	border-radius: 6px
	padding-bottom: 56.25%
	height: 0
	overflow: hidden
	margin-bottom: 30px
	iframe, video
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-width: 0
		outline-width: 0

.lg-backdrop.in
	opacity: 0.55

.lg-outer .lg-thumb-outer, .lg-outer .lg-toggle-thumb
	background-color: rgba(0,0,0, .45)

.breadcrumb-block
	padding: 20px 0
	+media-breakpoint-up(sm)
		padding: 40px 0

.breadcrumb
	margin: 0
	list-style-type: none
	display: flex
	flex-wrap: wrap
	font-size: 14px
	line-height: 19px
	position: relative
	z-index: 1
	padding: 0
	position: relative
	+media-breakpoint-up(sm)
		font-size: 16px
	&__link
		color: #A4A4A4
		&:after
			content: '-'
			margin: 0 5px
		&:hover
			text-decoration: none
			color: #fff
			&:after
				color: #A4A4A4
	&__item_active
		color: $fiolet

.pagination
	list-style-type: none
	padding: 0
	display: flex
	margin: 0
	margin-top: 30px
	&__item
		margin-right: 8px
		flex: 0 0 33px
		width: 33px
		height: 33px
		+media-breakpoint-up(sm)
			flex: 0 0 40px
			width: 40px
			height: 40px
	&__item_active .pagination__link
		border-color: $fiolet
		background-color: $fiolet
		color: #fff
	&__link
		background-color: transparent
		font-size: 16px
		line-height: 25px
		height: 100%
		width: 100%
		color: #000
		display: flex
		align-items: center
		justify-content: center
		text-decoration: none
		border-radius: 50%
		transition: border-color .25s ease, color .25s ease, background-color .25s ease
		border-color: #000
		border: 1px solid $fiolet
		color: #000
		&:hover
			text-decoration: none
			border-color: $fiolet
			color: #fff
			background-color: $fiolet

.content
	margin-bottom: 30px
	&_m0
		margin: 0
	iframe
		width: 100%
		margin: 0 auto !important
	p
		font-size: 16px
		font-weight: 400
		line-height: 24px
		color: $text
		margin: 0
		&:not(:last-child)
			margin-bottom: 10px
		+media-breakpoint-up(sm)
			&:not(:last-child)
				margin-bottom: 24px
	b, strong
		font-weight: 700
		font-size: 17px
		line-height: 24px
		margin-bottom: 15px
	a
		color: $fiolet
		text-decoration: underline
		&:hover
			text-decoration: none
	img
		margin-bottom: 30px
		border-radius: 15px
	h2
		font-size: 20px
		line-height: 26px
		color: $text
		font-weight: 600
		margin-bottom: 20px
		+media-breakpoint-up(sm)
			font-size: 24px
			line-height: 30px
	h3
		font-size: 19px
		line-height: 25px
		color: $text
		font-weight: 600
		margin-top: 40px
		margin-bottom: 20px
	ol
		padding: 0
		padding-left: 17px
		margin-left: 10px
		li
			margin-bottom: 10px
			padding-left: 8px
		li::marker
			color: $fiolet
			font-weight: 700
	ul
		list-style-type: none
		margin-left: 10px
		padding: 0
		margin-bottom: 15px
		+media-breakpoint-up(sm)
			margin-bottom: 25px
		li
			font-size: 16px
			line-height: 24px
			font-weight: 300
			margin-bottom: 10px
			// display: flex
			position: relative
			padding-left: 25px
			&:before
				content: ''
				position: absolute
				left: 0
				height: 8px
				width: 8px
				flex: 0 0 8px
				border-radius: 50%
				background-color: $fiolet
				box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25)
				display: inline-block
				margin-right: 15px
				margin-top: 7px

.section
	padding: 60px 0
	position: relative
	clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 20px), 50% 100%, 0 calc(100% - 20px))
	margin-top: -30px
	background-color: #fff
	+media-breakpoint-up(sm)
		clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 30px), 50% 100%, 0 calc(100% - 30px))
	+media-breakpoint-up(xl)
		padding: 190px 0
		margin-top: -90px
	+media-breakpoint-up(wxp)
		clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px))
	+media-breakpoint-up(wxpp)
		clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 90px), 50% 100%, 0 calc(100% - 90px))
	&_fiolet
		background-color: $fiolet
	&_first
		padding-top: 0
		margin-top: 0
		padding-bottom: 0
	&_heroes
		background-image: url('../images/dest/stars.png')
		background-repeat: no-repeat
		background-size: cover

.container
	padding: 0 10px
	margin: 0 auto
	width: 100%
	+media-breakpoint-up(sm)
		padding: 0 15px
	+media-breakpoint-up(xl)
		max-width: 1350px
	&_text
		+media-breakpoint-up(xl)
			max-width: 811px

.row
	display: flex
	flex-wrap: wrap
	margin: 0 -15px

.header
	position: absolute
	z-index: 100
	width: 100%
	top: 0
	left: 0
	padding: 16px 0
	/* .header__block */
	&__block
		display: flex
		justify-content: center

.logo

.first
	background-color: #fff
	background-image: url('../images/bg.svg')
	background-repeat: no-repeat
	background-position: center top
	height: 600px
	display: flex
	background-position: center -1px
	&:after
		content: ''
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: calc(50% - (1350px / 2))
		background-color: #FBC009
		z-index: -1
	&:before
		content: ''
		position: absolute
		right: 0
		top: 0
		height: 100%
		width: calc(50% - (1350px / 2))
		background-color: #57368A
		z-index: -1
	+media-breakpoint-up(sm)
		height: 789px
		align-items: center
	/* .first__block */
	&__block
		max-width: 640px
		text-align: center
		position: relative
		margin-top: 160px
		+media-breakpoint-up(sm)
			margin: 0 auto
	/* .first__title */
	&__title
		font-family: Seymour One
		font-size: 26px
		color: $fiolet
		margin-bottom: 5px
		span
			color: $yellow
			margin-left: 10px
		+media-breakpoint-up(sm)
			font-size: 48px
			margin-bottom: 24px
			span
				margin-left: 0
	/* .first__question */
	&__question
		text-align: center
		font-size: 18px
		font-weight: 600
		line-height: 24px
		color: #fff
		margin-bottom: 18px
		+media-breakpoint-up(sm)
			font-size: 30px
			line-height: 48px
			margin-bottom: 24px
	/* .first__text */
	&__text
		color: #fff
		max-width: 368px
		margin: 0 auto
		margin-bottom: 25px
		+media-breakpoint-up(sm)
			margin-bottom: 55px
	/* .first__row */
	&__row
		display: flex
		justify-content: center
		position: relative
		top: 140px
		gap: 30px
		+media-breakpoint-up(sm)
			justify-content: space-between
		+media-breakpoint-up(lg)
			position: initial
	/* .first__images */
	&__images
		position: absolute
		max-width: 170px
		bottom: 80px
		+media-breakpoint-up(sm)
			max-width: 320px
			bottom: 90px
		+media-breakpoint-up(lg)
			max-width: 500px
			bottom: 0
		+media-breakpoint-up(xl)
			max-width: initial
	/* .first__dog */
	&__dog
		left: calc(50% - 170px)
		+media-breakpoint-up(sm)
			left: calc(50% - 320px)
		+media-breakpoint-up(lg)
			left: 0
		+media-breakpoint-up(wxp)
			left: calc(50% - 678px)
	/* .first__cat */
	&__cat
		right: calc(50% - 170px)
		+media-breakpoint-up(sm)
			right: calc(50% - 320px)
		+media-breakpoint-up(lg)
			right: 0
		+media-breakpoint-up(wxp)
			right: calc(50% - 678px)

.btn
	color: #fff
	font-family: Seymour One, snas-serif
	padding: 6px 10px
	border-radius: 40px
	display: flex
	align-items: center
	justify-content: center
	transition: background-color .35s ease-out, color .35s ease-out, box-shadow .35s ease-out
	min-width: 120px
	&:hover
		color: #fff
		text-decoration: none
	+media-breakpoint-up(sm)
		padding: 10px 30px
	+media-breakpoint-up(md)
		padding: 16px 40px
		min-width: 235px
	&_fiolet
		background-color: $fiolet
		box-shadow: 0px 3px 0px 0px #401D74
		border: 1px solid $fiolet
		&:hover
			background-color: lighten($fiolet, 5%)
		+media-breakpoint-up(sm)
			margin-right: 0
		&.btn_transparent
			color: $fiolet
			&.active, &:hover
				color: #fff
				box-shadow: 0px 3px 0px 0px #401D74
		&.active
			background-color: $fiolet
			box-shadow: 0px 3px 0px 0px #401D74
	&_yellow
		background-color: $yellow
		box-shadow: 0px 3px 0px 0px #C19200
		border: 1px solid $yellow
		&:hover
			background-color: lighten($yellow, 5%)
		&.btn_transparent
			color: $yellow
			&.active, &:hover
				color: #fff
				box-shadow: 0px 3px 0px 0px #C19200
		&.active
			background-color: $yellow
			box-shadow: 0px 3px 0px 0px #C19200
	&_coin-left
		&:before
			content: url('../images/coin.png')
			line-height: 0
			margin-right: 12px
	&_coin-right
		&:after
			content: url('../images/coin.png')
			line-height: 0
			margin-left: 12px
	&_first
		&:before, &:after
			display: none
		+media-breakpoint-up(sm)
			&:before, &:after
				display: block
	&_transparent
		background-color: transparent
		box-shadow: none
	/* .btn__span */
	&__span
		font-size: 12px
		+media-breakpoint-up(sm)
			font-size: 14px
		+media-breakpoint-up(md)
			font-size: 16px

.title
	font-size: 24px
	color: #fff
	font-family: Seymour One
	margin-bottom: 16px
	text-align: center
	+media-breakpoint-up(sm)
		font-size: 40px
		margin-bottom: 24px
	&_fiolet
		color: $fiolet

.tab-content
	display: none
	&.active
		display: block

.heroes
	/* .heroes__btn-row */
	&__btn-row
		display: flex
		justify-content: center
		gap: 12px
		margin-bottom: 24px
	/* .heroes__row */
	&__row
		+media-breakpoint-up(lg)
			display: flex
			margin: 0 -12px
	/* .heroes__left */
	&__left
		max-width: 460px
		+media-breakpoint-up(lg)
			flex: 0 0 460px
			padding: 0 12px
		+media-breakpoint-up(xl)
			flex: 0 0 560px
			max-width: initial
	/* .heroes__img */
	&__img

	/* .heroes__dog */
	&__dog
		border-radius: 50%
		position: absolute
		max-width: 100px
		+media-breakpoint-up(sm)
			max-width: 140px
		+media-breakpoint-up(xl)
			max-width: 200px
	&__dog_1
		right: 0
		bottom: 60px
	&__dog_2
		right: 57px
		bottom: 170px
		+media-breakpoint-up(sm)
			bottom: 200px
		+media-breakpoint-up(xl)
			bottom: 280px
	/* .heroes__images */
	&__images
		position: relative
	/* .heroes__block */
	&__block
		padding: 20px 30px 20px 20px
		background-color: #fff
		border-radius: 24px
		border: 1px dashed $fiolet
		.simple-bar
			height: 422px
		h3
			color: $fiolet
			margin-bottom: 12px
		p
			margin-bottom: 24px
		+media-breakpoint-up(sm)
			padding: 48px
	/* .heroes__right */
	&__right
		+media-breakpoint-up(lg)
			padding: 0 12px
			flex: 1
			min-width: 1px

@keyframes "fade"
	from
		opacity: 0
	to
		opacity: 1
